---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import hero from "../assets/images/hero.webp";
import instagram from "../assets/images/instagram.svg";
import facebook from "../assets/images/facebook.svg";
import linkedin from "../assets/images/linkedin.svg";
import megafon from "../assets/images/megafon.webp";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Homepage" class="">
  <main class="bg-ink">
    <!-- hero section -->
    <Image class="h-[60vh] md:h-auto w-full object-cover" src={hero} alt="Dansk Kvindesamfunds Fællesmøde i 1912" />
    <section class="grid grid-cols-6 gap-2.5 mx-5 md:grid-cols-12 md:gap-5 md:mx-12">
      <Image class="col-start-1 col-span-7 md:col-span-9 -mt-80 md:-mt-70 lg:col-span-7 lg:-mt-130" src={megafon} alt="Kvinde med megafon, råber ligestilling, sammenhold, frihed!" />

      <!-- støt os form START-->
      <div class="bg-bold-300 col-start-2 col-span-5 -mt-10 px-3 py-6 md:px-5 md:py-9 md:col-start-6 md:col-span-7 md:-mt-30 lg:col-start-9 lg:col-span-4 lg:-mt-135">
        <Heading htmlheading="h1" size="medium" color="ink">Støt os</Heading>
        <Text teksttype="brødtekst">Når du støtter, hjælper du os i vores arbejde for at støtte, beskytte og rådgive kvinder og børn i krise.</Text>

        <!-- radio button støt fast / enkelt donation -->
        <div class="flex w-full border-2 md:border-4 border-ink rounded-full mt-4">
          <label class="flex-1 text-center cursor-pointer uppercase text-base md:text-xl">
            <input type="radio" name="gruppe1" value="fast" class="hidden peer" checked />
            <span class="block rounded-l-full px-4 py-2.5 md:px-5 md:py-3 text-ink transition duration-400 peer-checked:bg-ink peer-checked:text-bold-300"> Støt fast </span>
          </label>
          <label class="flex-1 text-center cursor-pointer uppercase text-base md:text-xl">
            <input type="radio" name="gruppe1" value="engangs" class="hidden peer" />
            <span class="block rounded-r-full px-4 py-2.5 md:px-5 md:py-3 text-ink transition duration-400 peer-checked:bg-ink peer-checked:text-bold-300"> Én gang </span>
          </label>
        </div>
        <!-- radio buttons forskellige beløb -->
        <div class="flex w-full gap-2.5 md:gap-5 my-4">
          <label class="flex-1 text-center cursor-pointer uppercase text-base md:text-xl">
            <input type="radio" name="gruppe2" value="75 KR" class="hidden peer" checked />
            <span class="block rounded-full border-2 md:border-4 border-ink px-4 py-2.5 md:px-5 md:py-3 text-ink transition duration-400 peer-checked:bg-ink peer-checked:text-bold-300"> 75,- </span>
          </label>
          <label class="flex-1 text-center cursor-pointer uppercase text-base md:text-xl">
            <input type="radio" name="gruppe2" value="125 KR" class="hidden peer" />
            <span class="block rounded-full border-2 md:border-4 border-ink px-4 py-2.5 md:px-5 md:py-3 text-ink transition duration-400 peer-checked:bg-ink peer-checked:text-bold-300"> 125,- </span>
          </label>
          <label class="flex-1 text-center cursor-pointer uppercase text-base md:text-xl">
            <input type="radio" name="gruppe2" value="300 KR" class="hidden peer" />
            <span class="block rounded-full border-2 md:border-4 border-ink px-4 py-2.5 md:px-5 md:py-3 text-ink transition duration-400 peer-checked:bg-ink peer-checked:text-bold-300"> 300,- </span>
          </label>
        </div>
        <!-- radio buttons slut -->
        <input type="text" placeholder="Andet beløb" class="input mb-4 bg-bold-300 w-full rounded-full border-2 md:border-4 border-ink text-ink px-4 py-2.5 md:px-7 md:py-5 text-base md:text-xl" />
        <Button variant="tertiary">Støt</Button>
        <div class="flex items-center mt-4 gap-5">
          <Text teksttype="brødtekst">...eller</Text>
          <Link href="#" target="_self" variant="secondary">læs mere</Link>
        </div>
      </div>
      <!-- støt os form SLUT -->
      <div class="pt-6 col-start-1 col-span-6 md:col-span-12 lg:pt-0 md:-mt-8">
        <Heading size="xlarge">Dansk kvindesamfund</Heading>
      </div>
    </section>

    <!-- section: Vores vision -->
    <section class="grid grid-cols-6 gap-2.5 mx-5 mt-15 md:grid-cols-12 md:gap-5 md:mx-12">
      <div class="col-start-1 col-span-6">
        <Heading htmlheading="h3" size="medium">Vores vision</Heading>
        <Text teksttype="manchet" color="brand">Dansk Kvindesamfund er en tværpolitisk organisation, der laver oplysningsarbejde, politisk interessevaretagelse og aktivisme om ligestilling, køn og feminisme.</Text>
      </div>
      <div class="col-start-1 col-span-6 mt-10 lg:mt-0 lg:col-start-9 lg:col-span-4">
        <Heading htmlheading="h3" size="medium">Find os her</Heading>
        <div class="flex gap-7 lg:gap-10">
          <Image src={instagram} alt="Instagram ikon" />
          <Image src={facebook} alt="Facebook ikon" />
          <Image src={linkedin} alt="LinkedIn ikon" />
        </div>
      </div>
    </section>
  </main>
</MainLayout>
