---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import Button from "./Button.astro";

let headerTheme = {
  header: "bg-ink text-brand",
  logo: "text-brand",
  buttonLeft: "primary",
  buttonRight: "secondary",
};

if (currentPath === "om_os") {
  headerTheme = {
    header: "bg-spring text-ink",
    logo: "text-ink",
    buttonLeft: "tertiary",
    buttonRight: "secondary",
  };
} else if (currentPath === "manifest") {
  headerTheme = {
    header: "bg-bold-700 text-paper",
    logo: "text-paper",
    buttonLeft: "primary",
    buttonRight: "white",
  };
} else if (currentPath === "bliv_medlem" || currentPath === "stot_os") {
  headerTheme = {
    header: "bg-brand text-ink",
    logo: "text-ink",
    buttonLeft: "tertiary",
    buttonRight: "white",
  };
}
---

<header x-data="{ showmenu: false }" class={headerTheme.header}>
  <!-- nav start-->
  <div id="navbar" class="p-5 md:p-12 flex flex-row justify-between items-center">
    <!-- logo start-->
    <div id="logo">
      <a href="/">
        <svg class={`w-[274px] h-auto ${headerTheme.logo}`} viewBox="0 0 274 62" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.87931 23.0381H0.521795V0.310813H8.11235C10.3392 0.310813 12.2516 0.765802 13.8497 1.67578C15.4477 2.57836 16.6721 3.87674 17.5229 5.57093C18.3811 7.25772 18.8101 9.28113 18.8101 11.6412C18.8101 14.0086 18.3774 16.0431 17.5118 17.7447C16.6536 19.4463 15.4107 20.7557 13.7831 21.6731C12.1555 22.5831 10.1875 23.0381 7.87931 23.0381ZM3.95086 20.0418H7.69065C9.42183 20.0418 10.8608 19.7163 12.0075 19.0653C13.1542 18.4068 14.0124 17.4561 14.5821 16.2132C15.1517 14.9629 15.4366 13.4389 15.4366 11.6412C15.4366 9.85819 15.1517 8.34526 14.5821 7.10236C14.0198 5.85946 13.1801 4.91619 12.063 4.27255C10.9459 3.62891 9.5587 3.30708 7.9015 3.30708H3.95086V20.0418ZM23.865 23.0381H20.2251L28.4038 0.310813H32.3655L40.5442 23.0381H36.9043L30.479 4.43901H30.3014L23.865 23.0381ZM24.4753 14.138H36.2828V17.0233H24.4753V14.138ZM62.1701 0.310813V23.0381H59.0184L47.4662 6.36994H47.2553V23.0381H43.8262V0.310813H47.0001L58.5635 17.0012H58.7743V0.310813H62.1701ZM79.5679 6.28116C79.4495 5.23062 78.9612 4.41681 78.103 3.83975C77.2448 3.2553 76.1647 2.96307 74.8626 2.96307C73.9304 2.96307 73.124 3.11103 72.4434 3.40696C71.7628 3.69549 71.2338 4.09499 70.8565 4.60547C70.4866 5.10855 70.3016 5.68191 70.3016 6.32555C70.3016 6.86562 70.4274 7.3317 70.6789 7.72381C70.9379 8.11591 71.2745 8.44513 71.6888 8.71147C72.1105 8.97041 72.5618 9.18865 73.0427 9.36621C73.5235 9.53637 73.9859 9.67693 74.4298 9.78791L76.6493 10.365C77.3743 10.5425 78.1178 10.783 78.8798 11.0863C79.6419 11.3896 80.3484 11.7891 80.9994 12.2848C81.6505 12.7805 82.1757 13.3945 82.5752 14.127C82.9821 14.8594 83.1856 15.7361 83.1856 16.757C83.1856 18.0443 82.8527 19.1873 82.1868 20.1861C81.5284 21.1848 80.5703 21.9727 79.3126 22.5498C78.0623 23.1269 76.5494 23.4154 74.7738 23.4154C73.0723 23.4154 71.6 23.1454 70.3571 22.6053C69.1142 22.0652 68.1414 21.2995 67.4385 20.3081C66.7357 19.3094 66.3473 18.1257 66.2733 16.757H69.7135C69.7801 17.5782 70.0464 18.2625 70.5125 18.81C70.986 19.3501 71.5889 19.7533 72.3213 20.0196C73.0612 20.2786 73.8713 20.408 74.7516 20.408C75.7208 20.408 76.5827 20.2564 77.3373 19.953C78.0993 19.6423 78.6986 19.2132 79.1351 18.6657C79.5716 18.1109 79.7898 17.4635 79.7898 16.7237C79.7898 16.0505 79.5975 15.4993 79.2128 15.0702C78.8354 14.6411 78.3213 14.286 77.6702 14.0049C77.0266 13.7238 76.2979 13.4759 75.4841 13.2614L72.7985 12.5289C70.9786 12.0333 69.5359 11.3045 68.4706 10.3428C67.4126 9.38101 66.8837 8.10852 66.8837 6.5253C66.8837 5.21582 67.2388 4.0728 67.949 3.09623C68.6592 2.11967 69.621 1.36136 70.8343 0.821289C72.0476 0.273822 73.4163 8.79318e-05 74.9403 8.79318e-05C76.4791 8.79318e-05 77.8367 0.270122 79.013 0.810191C80.1967 1.35026 81.1289 2.09378 81.8095 3.04075C82.4902 3.98032 82.8453 5.06046 82.8749 6.28116H79.5679ZM87.2833 23.0381V0.310813H90.7123V11.164H90.9898L100.522 0.310813H104.839L95.6728 10.5425L104.872 23.0381H100.744L93.3979 12.8841L90.7123 15.9691V23.0381H87.2833ZM0.000221925 61.0381V38.3108H4.80535V48.3317H5.10498L13.2837 38.3108H19.0432L10.6092 48.487L19.1431 61.0381H13.3947L7.16908 51.6942L4.80535 54.5795V61.0381H0.000221925ZM25.6516 38.3108L31.1448 55.5782H31.3556L36.8599 38.3108H42.1866L34.3519 61.0381H28.1596L20.3138 38.3108H25.6516ZM49.7272 38.3108V61.0381H44.9221V38.3108H49.7272ZM72.6903 38.3108V61.0381H68.5399L58.6522 46.7337H58.4858V61.0381H53.6806V38.3108H57.8976L67.7076 52.6041H67.9074V38.3108H72.6903ZM84.717 61.0381H76.6604V38.3108H84.7836C87.0696 38.3108 89.0376 38.7658 90.6874 39.6758C92.3372 40.5784 93.606 41.8767 94.4937 43.5709C95.3889 45.2651 95.8365 47.2922 95.8365 49.6523C95.8365 52.0197 95.3889 54.0542 94.4937 55.7558C93.606 57.4574 92.3298 58.7631 90.6652 59.6731C89.008 60.5831 87.0253 61.0381 84.717 61.0381ZM81.4655 56.921H84.5173C85.9377 56.921 87.1325 56.6694 88.1017 56.1664C89.0783 55.6559 89.8107 54.868 90.299 53.8026C90.7946 52.7299 91.0425 51.3464 91.0425 49.6523C91.0425 47.9729 90.7946 46.6005 90.299 45.5352C89.8107 44.4698 89.082 43.6856 88.1128 43.1825C87.1436 42.6795 85.9488 42.4279 84.5284 42.4279H81.4655V56.921ZM99.396 61.0381V38.3108H114.71V42.2725H104.201V47.688H113.922V51.6498H104.201V57.0763H114.755V61.0381H99.396ZM130.86 44.8471C130.771 43.9519 130.39 43.2565 129.717 42.7608C129.043 42.2652 128.13 42.0173 126.976 42.0173C126.191 42.0173 125.529 42.1283 124.989 42.3502C124.449 42.5648 124.035 42.8644 123.746 43.2491C123.465 43.6338 123.325 44.0703 123.325 44.5586C123.31 44.9655 123.395 45.3206 123.58 45.6239C123.772 45.9273 124.035 46.1899 124.368 46.4118C124.701 46.6264 125.085 46.815 125.522 46.9778C125.958 47.1332 126.424 47.2663 126.92 47.3773L128.962 47.8656C129.953 48.0875 130.863 48.3835 131.692 48.7534C132.52 49.1233 133.238 49.5783 133.845 50.1183C134.451 50.6584 134.921 51.2947 135.254 52.0271C135.594 52.7595 135.768 53.5992 135.776 54.5462C135.768 55.937 135.413 57.1429 134.71 58.1639C134.015 59.1774 133.009 59.9653 131.692 60.5276C130.382 61.0825 128.803 61.3599 126.953 61.3599C125.119 61.3599 123.521 61.0788 122.159 60.5165C120.805 59.9542 119.747 59.122 118.985 58.0196C118.231 56.9099 117.835 55.5375 117.798 53.9025H122.448C122.5 54.6645 122.718 55.3008 123.103 55.8113C123.495 56.3143 124.016 56.6953 124.667 56.9543C125.326 57.2058 126.069 57.3316 126.898 57.3316C127.712 57.3316 128.418 57.2132 129.017 56.9765C129.624 56.7397 130.094 56.4105 130.427 55.9888C130.76 55.5671 130.926 55.0825 130.926 54.5351C130.926 54.0246 130.775 53.5955 130.471 53.2478C130.175 52.9001 129.739 52.6041 129.162 52.36C128.592 52.1159 127.893 51.8939 127.064 51.6942L124.59 51.0727C122.673 50.6066 121.161 49.8779 120.051 48.8865C118.941 47.8952 118.39 46.5598 118.397 44.8804C118.39 43.5043 118.756 42.3021 119.496 41.2738C120.243 40.2454 121.268 39.4427 122.57 38.8657C123.872 38.2886 125.352 38.0001 127.009 38.0001C128.696 38.0001 130.168 38.2886 131.426 38.8657C132.691 39.4427 133.675 40.2454 134.377 41.2738C135.08 42.3021 135.443 43.4933 135.465 44.8471H130.86ZM142.406 61.0381H137.257L145.103 38.3108H151.295L159.13 61.0381H153.981L148.288 43.5043H148.11L142.406 61.0381ZM142.085 52.1048H154.247V55.8556H142.085V52.1048ZM161.865 38.3108H167.791L174.05 53.5807H174.317L180.576 38.3108H186.501V61.0381H181.841V46.2454H181.652L175.77 60.9271H172.597L166.715 46.1899H166.526V61.0381H161.865V38.3108ZM190.46 61.0381V38.3108H205.508V42.2725H195.266V47.688H204.51V51.6498H195.266V61.0381H190.46ZM222.779 38.3108H227.584V53.0702C227.584 54.7274 227.188 56.1775 226.396 57.4204C225.612 58.6633 224.513 59.6324 223.1 60.3279C221.687 61.0159 220.041 61.3599 218.162 61.3599C216.276 61.3599 214.626 61.0159 213.213 60.3279C211.8 59.6324 210.701 58.6633 209.917 57.4204C209.133 56.1775 208.74 54.7274 208.74 53.0702V38.3108H213.546V52.6596C213.546 53.5252 213.734 54.2946 214.112 54.9679C214.496 55.6411 215.036 56.1701 215.732 56.5548C216.427 56.9395 217.237 57.1318 218.162 57.1318C219.094 57.1318 219.904 56.9395 220.592 56.5548C221.288 56.1701 221.824 55.6411 222.201 54.9679C222.586 54.2946 222.779 53.5252 222.779 52.6596V38.3108ZM250.547 38.3108V61.0381H246.396L236.509 46.7337H236.342V61.0381H231.537V38.3108H235.754L245.564 52.6041H245.764V38.3108H250.547ZM262.573 61.0381H254.517V38.3108H262.64C264.926 38.3108 266.894 38.7658 268.544 39.6758C270.194 40.5784 271.462 41.8767 272.35 43.5709C273.245 45.2651 273.693 47.2922 273.693 49.6523C273.693 52.0197 273.245 54.0542 272.35 55.7558C271.462 57.4574 270.186 58.7631 268.522 59.6731C266.864 60.5831 264.882 61.0381 262.573 61.0381ZM259.322 56.921H262.374C263.794 56.921 264.989 56.6694 265.958 56.1664C266.935 55.6559 267.667 54.868 268.155 53.8026C268.651 52.7299 268.899 51.3464 268.899 49.6523C268.899 47.9729 268.651 46.6005 268.155 45.5352C267.667 44.4698 266.938 43.6856 265.969 43.1825C265 42.6795 263.805 42.4279 262.385 42.4279H259.322V56.921Z"
            fill="currentColor/"></path>
        </svg>
      </a>
    </div>
    <!-- logo slut-->

    <!-- menu punkter start -->
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-10 md:text-brødtekst items-center">
        <li class={`hover:underline underline-offset-4 transition-all duration-200 ${currentPath === "manifest" ? "underline" : ""}`}>
          <a href="/manifest">MANIFEST</a>
        </li>
        <li class={`hover:underline underline-offset-4 transition-all duration-200 ${currentPath === "om_os" ? "underline" : ""}`}>
          <a href="/om_os">OM OS</a>
        </li>
        <li class={`hover:underline underline-offset-4 transition-all duration-200 ${currentPath === "komponentbibliotek" ? "underline" : ""}`}>
          <a href="/komponentbibliotek">KOMPONENTBIBLIOTEK</a>
        </li>
        <li>
          <Button variant={headerTheme.buttonLeft} stylingclasses={currentPath === "bliv_medlem" ? "underline" : ""}>
            <a href="/bliv_medlem">BLIV MEDLEM</a>
          </Button>
        </li>
        <li>
          <Button variant={headerTheme.buttonRight} stylingclasses={currentPath === "stot_os" ? "underline" : ""}>
            <a href="/stot_os">STØT OS</a>
          </Button>
        </li>
      </ul>
    </nav>
    <!-- menu punkter slut -->

    <!-- burgermenu start -->
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu" aria-label="Åbn menu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10"> <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path></svg> </button>
    <!-- burgermenu slut -->

    <!-- dropdown menu start -->
  </div>
  <nav id="mobilmenu" class={`flex flex-col p-5 text-konsultativ ${headerTheme.header}`} x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul class="flex flex-col text-right gap-3">
      <li class="py-3">
        <a href="/manifest" class={currentPath === "manifest" ? "underline" : ""}> MANIFEST </a>
      </li>
      <li class="py-3">
        <a href="/om_os" class={currentPath === "om_os" ? "underline" : ""}> OM OS </a>
      </li>
      <li class="py-3">
        <a href="/komponentbibliotek" class={currentPath === "komponentbibliotek" ? "underline" : ""}> KOMPONENTBIBLIOTEK </a>
      </li>
      <li class="py-3">
        <Button variant={headerTheme.buttonLeft} stylingclasses={currentPath === "bliv_medlem" ? "underline" : ""}>
          <a href="/bliv_medlem">BLIV MEDLEM</a>
        </Button>
      </li>
      <li class="py-3">
        <Button variant={headerTheme.buttonRight} stylingclasses={currentPath === "stot_os" ? "underline" : ""}>
          <a href="/stot_os">STØT OS</a>
        </Button>
      </li>
    </ul>
  </nav>
</header>
